
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <body>
    <div class="content">
   
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/pWHUkLIXsls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      
 
   
    <!-- <style>body {
      background-color: #0000005d;
      color:rgba(255, 255, 255, 0.89);
    } 
     </style> -->

<%- include('templates/login') %>     
  
  </body>    </div>
